<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <a href="http://localhost:8080"><h1 >Courses</h1></a>
    <p>
        <label th:text="'Hello: '+${session.USERNAME}"></label><br>
        <a href="/logout">Logout</a>
    </p>
</div>
<div class="container">
    <a th:href="@{/users}" class="btn btn-sm btn-outline-secondary" type="button">Back User</a>
    <br><br>
    <table  class="table table-bordered" th:object="${user}">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Name course</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${listuser}" >
            <th:block th:each="course : ${user.likedCourses}">
            <tr>
                <td>[[${user.id}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${course.namec}]]</td>
            </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>
